<!DOCTYPE html>
<html lang="uk">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Blog</title>
</head>
<body>
    <h3>Категорії</h3>
    {% if categories %}
        {% for item in categories %}
        <div>
            <a href="#"> <h4>{{ item.category }}</h4>
            </a>
        </div>
        {% endfor %}
    {% endif %}

    <h3>Статті на головній</h3>
    {% if articles %}
        {% for item in articles %}
        <div>
            <a href="{{ item.get_absolute_url }}">
                <h4>{{ item.title }}</h4>
            </a>
            <h5>
                {{ item.pub_date|date:"j E Y"|safe|linebreaks }}
            </h5>
            <p>
                {{ item.description|safe|escape|striptags|truncatewords_html:32 }}
            </p>
        </div>
        {% endfor %}
    {% endif %}

    <p>
        <a href="{% url 'articles-list' %}">Всі публікації</a>
    </p>
</body>
</html>
